@{
    ViewBag.Title = "Potwierdź swój email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
       Email został potwierdzony. @Html.ActionLink("Kliknij aby się zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
