@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1>Strona Główna</h1>
	<p class="lead"> Tu do zdecydowania jaka będzie strona główna</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Może jakaś nawigacja?</h2>
        <p>
          Przyciski albo tekst z instrukcją rekrutacji
        </p>
    </div>
    

</div>